<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/LCB-Client.css">
    <title>My first three.ts app</title>
</head>
<body>
    <div id="RenderContainer">

        <!-- ThreeJS Renderer -->
        <div id="ThreeJSRenderer">
            <script type="module" src="../scripts/LCB-User-Interface.js"></script>
        </div>

        <div id="OverlayText">Partially complete... This application is a Work-In-Progress.</div>
    </div>
</body>
</html>
